.warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1150px;
    display: flex;
    flex-direction: row;
}

.content {
    flex: 1;
    background-color: #ccc;
    min-height: 1000px;
}
